<html lang="en">
  {{> partials/head}}
  <body>
    <!-- PAGE LOADING -->
    <div id="preloader"></div>
    <!-- MAIN WRAPPER -->
    <div class="main-wrapper">
      <!-- NAVIGATION -->
      {{> partials/nav}} 
      
      <!-- ENROLLMENT CONFIRMATION -->
      <section class="theme-overlay-dark-blue left-overlay-dark form-top-position" data-overlay-dark="6"></section>
      <section class="account-section-text-align">
        <h2>Attendence Confirmation</h2>
        <div id="confirmationContent" class="account-div-styling">
          <p>Thank you for booking your attendence for {{currentClass.title}}, in {{courses.name}}!</p>
          <p>Your attendence details:</p>
          <ul>
            <li>Forename: {{attendedStudent.forename}}</li>
            <li>Surname: {{attendedStudent.surname}}</li>
            <li>Email: {{attendedStudent.email}}</li>
          </ul>
          <!-- Optionally, list all enrolled students if needed -->
          <h3>All Attended Students</h3>
          <ul>
            {{#courses.attendedStudents}}
              <li>{{forename}} {{surname}} - {{email}}</li>
            {{/courses.attendedStudents}}
          </ul>
        </div>
      </section>
      
      <!-- FOOTER -->
      {{> partials/footer}}
    </div>
    <!-- Scroll to top and tail partials -->
    {{> partials/tail}}
  </body>
</html>