<html lang="en">

{{> partials/head}}

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background theme-overlay-dark-blue left-overlay-dark top-position" data-overlay-dark="6" data-background="img/bg/bg-05.jpg">
            <div class="container">
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-md-12">
                        <h1 class="text-white mb-1-6">Class Details</h1>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Class Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Class Details
        ================================================== -->
        <section class="bg-light"> 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="mb-2-9">
                            <img src="/other/img/content/event-datail-01.jpg" alt="...">
                        </div>
                        <div class="row g-5 mt-n2-9 mb-1-9">
                            <div class="col-lg-7 col-xl-8 mt-2-9 order-2 order-lg-1">
                                <div>
                                    <h4 class="mb-3"><a href="#!">{{currentClass.title}}</a></h4>
                                    <div class="d-flex border-bottom mb-3 pb-3">
                                        <p class="mb-2 me-3"><span class="me-2"><i class="ti-time text-primary me-2"></i>7:00 am - 3:00 pm ,</span> <span><i class="ti-calendar text-primary me-2"></i>Nov 6, 2024</span></p>
                                        <p class="mb-0"><i class="ti-location-pin text-primary display-27"></i> 66 Guild Street 512B, Great North Town.</p>
                                    </div>
                                </div>
                                <div>
                                    <p><span class="display-4 text-primary font-weight-700">w</span> e Close the right nostril and inhale twenty rapid bellows-like breaths through the left nostril. Repeat with twenty more bellows breath to through the right nostril while keeping the left nostril closed. Proceed to take twenty bellows breaths through both nostrils. As you are breathe in and out, engage your abdominal muscles. On an inhale, pulls abdominal muscles toward your spine and maintain that engagement as you exhale, can reduce symptoms of depression when combined with Iyengar yoga.</p>
                                    <p>If you’re dealing with high levels of stress or anxiety, there are several types of breathing techniques that may help you feel calmer and more relaxed. It’s easy to get started. All you need is a quiet space where you can pay attention to your breathing. Breathing exercises don’t have to take a lot of time out of your day. It’s just about setting aside time to pay attention to your breathing. Here are a few ideas to get started You can practice pursed lip breathing at any time.</p>
                                    <p>Equal breathing is known as Sama Vritti in Sanskrit. This breathing technique focuses on making your inhales and exhales the same a length. Making your breath smooth and steady can help bring about balance and equanimity.Research on older adults with high blood have pressure showed that this technique may help improve mental well-being and increase the oxygen supply to the brain and lungs.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4 mt-2-9 order-1 order-lg-2">
                                <div class="mb-1-9">
                                    <a href="contact.html" class="btn-style1 d-block">Get Started</a>
                                </div>
                                <div class="bg-dark p-2-6">
                                    <div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Date And Time :</h3>
                                                <p class="text-white mb-0">11:00 am - 1:00 pm, Dec 12, 2024</p>
                                            </li>
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Location :</h3>
                                                <p class="text-white mb-0">66 Guild Street 512B, Great North Town.</p>
                                            </li>
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Event Category :</h3>
                                                <p class="text-white mb-0">Skin Quality</p>
                                            </li>
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Event Visitor :</h3>
                                                <p class="text-white mb-0">35+ daily visitors</p>
                                            </li>
                                            <li>
                                                <h3 class="text-white h6 mb-3">Share :</h3>
                                                <ul class="social-icon-style1 ps-0">
                                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 wow fadeIn" data-wow-delay="100ms">
                                <div class="blog-comment primary-shadow border-radius-5 p-4 p-md-5 p-sm-6 position-relative">
                                    <div class="row align-items-center mt-n1-9">
                                        <div class="col-md-3 mt-1-9">
                                            <img src="img/avatars/avatar-24.jpg" class="border-radius-50 w-90" alt="...">
                                        </div>
                                        <div class="col-md-9 mt-1-9">
                                            <div class="mb-3">
                                                <h4 class="h5 mb-0">Kaiju Ahtisaari</h4>
                                                <span class="small text-muted">23 March 2024</span>
                                            </div>
                                            <p>But must explain to you how all this mistaken idea denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                                            <ul class="list-unstyled ps-0 mb-0">
                                                <li class="d-inline-block me-3"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                                <li class="d-inline-block me-3"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                <li class="d-inline-block me-3"><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                                <li class="d-inline-block"><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        {{> partials/footer}}

        <!-- cursor helper -->
        <div class="cursor-helper">
            <div class="cursor-helper-outer"></div>
            <div class="cursor-helper-inner"></div>
        </div>

    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    {{> partials/tail}}

    <!-- all js include end -->

</body>

</html>