<html lang="en">

{{> partials/head}}

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background theme-overlay-dark-blue left-overlay-dark top-position" data-overlay-dark="6">
            <div class="container">
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-md-12">
                        <h1 class="text-white mb-1-6">Class Details</h1>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Class Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Error Popup Section -->
          {{#error}}
            <div class="alert alert-danger">
              {{error}}
            </div>
          {{/error}}
          
        <!-- Class Details
        ================================================== -->
        <section class="bg-light"> 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="mb-2-9">
                            <img src="/other/img/content/class-bg.png" alt="big class img">
                        </div>
                        <div class="row g-5 mt-n2-9 mb-1-9">
                            <div class="col-lg-7 col-xl-8 mt-2-9 order-2 order-lg-1">
                                <div>
                                    <h4 class="mb-3"><a href="#!">{{currentClass.title}}</a></h4>
                                    <div class="d-flex border-bottom mb-3 pb-3">
                                        <p class="mb-2 me-3"><span class="me-2"><i class="ti-time text-primary me-2"></i>{{currentClass.time}} ,</span> <span><i class="ti-calendar text-primary me-2"></i>{{currentClass.date}}</span></p>
                                        <p class="mb-0"><i class="ti-location-pin text-primary display-27"></i> {{currentClass.location}}</p>
                                    </div>
                                </div>
                                <div>
                                    <p>{{currentClass.summary}}</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4 mt-2-9 order-1 order-lg-2">
                            <form method="get" role="form" action="/courses/attend">
                                <div class="mb-1-9">
                                 <button 
                                            type="submit"
                                            name="classId"
                                            value="{{currentClass.classId}}"
                                            class="btn-style1 d-block wow fadeIn"
                                            data-wow-delay="100ms"
                                        >
                                        Book attendance
                                        </button>
                                </div>
                            </form>
                                <div class="bg-dark p-2-6">
                                    <div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Date And Time :</h3>
                                                <p class="text-white mb-0">{{currentClass.time}}, {{currentClass.date}}</p>
                                            </li>
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Location :</h3>
                                                <p class="text-white mb-0">{{currentClass.location}}</p>
                                            </li>
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Category :</h3>
                                                <p class="text-white mb-0">{{courses.category}}</p>
                                            </li>
                                            <li class="border-bottom border-color-light-white mb-3 pb-3">
                                                <h3 class="text-white h6">Price :</h3>
                                                <p class="text-white mb-0">£{{currentClass.price}}</p>
                                            </li>
                                            {{! <li>
                                                <h3 class="text-white h6 mb-3">Share :</h3>
                                                <ul class="social-icon-style1 ps-0">
                                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                </ul>
                                            </li> }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        {{> partials/footer}}

        <!-- cursor helper -->
        <div class="cursor-helper">
            <div class="cursor-helper-outer"></div>
            <div class="cursor-helper-inner"></div>
        </div>

    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    {{> partials/tail}}

    <!-- all js include end -->

</body>

</html>