<html lang="en">

{{> partials/head}} {{! Include the tail partial for this to work}}

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}}     

        <!-- COURSES PAGE
        ================================================== -->
        <section class="page-title-section bg-img cover-background theme-overlay-dark-blue left-overlay-dark top-position" data-overlay-dark="6">
            <div class="container">
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-md-12">
                        <h1 class="text-white mb-1-6">Our Courses</h1>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Our Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- COURSES
        ================================================== -->
        <section>
        <form method="get" role="form" action="/courses/details">
            <div class="container">
                <div class="row mt-n2-6 g-lg-5">
                {{#courses}}
                    <div class="col-md-6 col-xl-4 mt-2-6">
                        <button type="submit" name="courseId" value="{{id}}" 
                                class="card card-style11 wow fadeIn" 
                                data-wow-delay="100ms">
                            <div class="card-img">
                                <img src="/other/img/content/course.png" alt="course img">
                            </div>
                            <div class="card-body">
                                <div class="card-teacher">
                                        <span>{{type}}</span>
                                </div>
                                <div class="card-title">
                                    <span>{{category}}</span>
                                    <h4 class="text-hover">{{name}}</h4>
                                </div>
                                <ul class="card-list list-unstyled mb-0">
                                    <li><i class="ti-notepad"></i>Mon, Thu, Fri</li>
                                    <li><i class="ti-time"></i>9:00 - 11:00</li>
                                </ul>
                            </div>
                        </button>
                    </div>
                {{/courses}}
                </div>
            </div>
        </form>
        </section>

        <!-- FOOTER
        ================================================== -->
        {{> partials/footer}}

        <!-- cursor helper -->
        <div class="cursor-helper">
            <div class="cursor-helper-outer"></div>
            <div class="cursor-helper-inner"></div>
        </div>

    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

   {{> partials/tail}}

    <!-- all js include end -->

</body>

</html>