<html lang="en">
{{> partials/head}}
<body>
    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>
    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">
     <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}} 

        <!-- CLASSES DASHBOARD
        ================================================== -->
        <section class="theme-overlay-dark-blue left-overlay-dark form-top-position" data-overlay-dark="6"></section>
        <section class="account-section-text-align">
            
            <div id="formContent" class="booking-form p-4 p-md-5 bg-white shadow-sm border-radius-5">
                <div class="container-fluid">
                    <div class="row">
                        <!-- SIDEBAR (Left Nav) -->
                        <div class="col-md-3 col-lg-2 bg-light p-3" id="adminSidebar">
                        {{> partials/adminSidebar }}
                        </div>
                        <!-- /SIDEBAR -->

                        <!-- MAIN CONTENT: Courses -->
                        <div class="col-md-9 col-lg-10">
                        <h1 class="mb-3">Admin Dashboard</h1>
                        <hr />
                        <h2 class="mb-3">Classes</h2>
                        <div class="table-responsive mb-5">
                            <table class="table table-bordered table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                <th>Class Title</th>
                                <th>Description</th>
                                <th>Summary</th>
                                <th>Teacher</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th>Price</th>
                                <th>Delete</th>
                                <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#classes}}
                                    <tr>
                                        <td>{{title}}</td>
                                        <td>{{description}}</td>
                                        <td>{{summary}}</td>
                                        <td>{{teacher}}</td>
                                        <td>{{date}}</td>
                                        <td>{{time}}</td>
                                        <td>{{location}}</td>
                                        <td>{{price}}</td>
                                        <form id="removeForm-{{title}}" method="post" action="/adminDashboard/classes">
                                            <td>
                                                <input type="hidden" id ="classId" name="classId" value="{{classId}}">
                                                <input type="hidden" id ="courseId" name="courseId" value="{{courseId}}">
                                                <button type="button" class="btn-delete" data-name="{{title}}">Delete</button>
                                            </td>
                                        </form>
                                        <form method="get" action="/adminDashboard/updateClass/{{classId}}/{{courseId}}">
                                            <td>
                                                <button class="btn-update" submit="button">Update</button>
                                            </td>
                                        </form>
                                        
                                    </tr>
                                {{/classes}}
                                {{^classes}}
                                    <tr>
                                    <td colspan="5">No students attended for "{{title}}" yet.</td>
                                    </tr>
                                {{/classes}}
                              
                            </tbody>
                            </table>
                            <form method="get" action="/adminDashboard/newClass">
                                <div class="mb-4">
                                    <button 
                                        type="submit" 
                                        class="btn-style1 primary small wow fadeIn w-100"
                                        data-wow-delay="100ms"
                                    >
                                    (+) Add Class
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                        <!-- /MAIN CONTENT -->

                    </div>
                </div>
            </div>
         </section>
        <div>
        <!-- FOOTER
            ================================================== -->
            {{> partials/footer}}
        </div>
    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

   {{> partials/tail}}
   {{> partials/popup}}
    <!-- all js include end -->
</body>
</html>