<html lang="en">
{{> partials/head}}
<body>
    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>
    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">
     <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}} 

        <!-- COURSES DASHBOARD
        ================================================== -->
        <section class="theme-overlay-dark-blue left-overlay-dark form-top-position" data-overlay-dark="6"></section>
        <section class="account-section-text-align">
            
            <div id="formContent" class="booking-form p-4 p-md-5 bg-white shadow-sm border-radius-5">
                <div class="container-fluid">
                    <div class="row">
                        <!-- SIDEBAR (Left Nav) -->
                        <div class="col-md-3 col-lg-2 bg-light p-3" id="adminSidebar">
                        {{> partials/adminSidebar }}
                        </div>
                        <!-- /SIDEBAR -->

                        <!-- MAIN CONTENT: Courses -->
                        <div class="col-md-9 col-lg-10">
                        <h1 class="mb-3">Admin Dashboard</h1>
                        <hr />
                        <h2 class="mb-3">Courses</h2>
                        <div class="table-responsive mb-5">
                            <table class="table table-bordered table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                <th>Course Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Course Lead</th>
                                <th>Duration</th>
                                <th>Difficulty</th>
                                <th>Sessions</th>
                                <th>Type</th>
                                <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#courses}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{description}}</td>
                                        <td>{{category}}</td>
                                        <td>{{courseLead}}</td>
                                        <td>{{duration}}</td>
                                        <td>{{difficulty}}</td>
                                        <td>{{sessions}}</td>
                                        <td>{{type}}</td>
                                        <form id="removeForm-{{name}}" method="post" action="/adminDashboard/courses">
                                            <td>
                                                <input type="hidden" id ="courseId" name="courseId" value="{{id}}">
                                                <button type="button" class="btn-delete" data-name="{{name}}">Delete</button>
                                            </td>
                                        </form>
                                        
                                    </tr>
                                {{/courses}}
                                {{^courses}}
                                    <tr>
                                    <td colspan="5">No students enrolled for "{{name}}" yet.</td>
                                    </tr>
                                {{/courses}}
                              
                            </tbody>
                            </table>
                            <form method="get" action="/adminDashboard/newCourse">
                                <div class="mb-4">
                                    <button 
                                        type="submit" 
                                        class="btn-style1 primary small wow fadeIn w-100"
                                        data-wow-delay="100ms"
                                    >
                                    (+) Add Course
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                        <!-- /MAIN CONTENT -->

                    </div>
                </div>
            </div>
         </section>
        <div>
        <!-- FOOTER
            ================================================== -->
            {{> partials/footer}}
        </div>
    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

   {{> partials/tail}}
   {{> partials/popup}}
    <!-- all js include end -->
</body>
</html>