<html lang="en">
{{> partials/head}}
<body>
    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>
    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">
     <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}} 

        <!-- USERS DASHBOARD
        ================================================== -->
        <section class="theme-overlay-dark-blue left-overlay-dark form-top-position" data-overlay-dark="6"></section>
        <section class="account-section-text-align">
            
            <div id="formContent" class="booking-form p-4 p-md-5 bg-white shadow-sm border-radius-5">
                <div class="container-fluid">
                    <div class="row">
                        <!-- SIDEBAR (Left Nav) -->
                        <div class="col-md-3 col-lg-2 bg-light p-3" id="adminSidebar">
                        {{> partials/adminSidebar }}
                        </div>
                        <!-- /SIDEBAR -->

                        <!-- MAIN CONTENT: Users -->
                        <div class="col-md-9 col-lg-10">
                        <h1 class="mb-3">Admin Dashboard</h1>
                        <hr />
                        <h2 class="mb-3">Users</h2>
                        <div class="table-responsive mb-5">
                            <table class="table table-bordered table-hover align-middle">
                            <thead class="table-dark">
                                <tr>
                                <th>Forename</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#users}}
                                    <tr>
                                        <td>{{forename}}</td>
                                        <td>{{surname}}</td>
                                        <td>{{email}}</td>
                                        <td>{{username}}</td>
                                        <td>{{role}}</td>
                                        <td>
                                            <form id="removeForm-{{username}}" method="post" action="/adminDashboard/users">
                                                <input type="hidden" id ="username" name="username" value="{{username}}">
                                                <button type="button" class="btn-delete" data-name="{{username}}">Delete</button>
                                            </form>
                                        </td>
                                        
                                        
                                    </tr>
                                {{/users}}
                                {{^users}}
                                    <tr>
                                    <td colspan="5">no user exists yet.</td>
                                    </tr>
                                {{/users}}
                              
                            </tbody>
                            </table>
                            <form method="get" action="/adminDashboard/newUser">
                                <div class="mb-4">
                                    <button 
                                        type="submit" 
                                        class="btn-style1 primary small wow fadeIn w-100"
                                        data-wow-delay="100ms"
                                    >
                                    (+) Add User
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                        <!-- /MAIN CONTENT -->

                    </div>
                </div>
            </div>
         </section>
        <div>
        <!-- FOOTER
            ================================================== -->
            {{> partials/footer}}
        </div>
    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

   {{> partials/tail}}
   {{> partials/popup}}
    <!-- all js include end -->
</body>
</html>