<html lang="en">

<!-- HEAD
    ================================================== -->
{{> partials/head}}
<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- NAVIGATION
        ================================================== -->
        {{> partials/nav}}

        <!-- BANNER
        ================================================== -->
        <section class="py-0 top-position">
            <div class="slider-fade owl-carousel owl-theme w-100 h-100">
                <div class="item bg-img cover-background left-overlay-dark" data-overlay-dark="75" data-background="other/img/banner/banner-1.png">     

                    <div class="container h-100">
                        <div class="d-table w-100 h-100">
                            <div class="d-table-cell align-middle">
                                <div class="row position-relative">
                                    <div class="col-md-10 col-lg-9 col-xl-8 z-index-3 position-relative">
                                        <div class="banner-style01">
                                            <span class="sec-title3 display-29 display-lg-28 text-primary text-shadow">Feel the Vibe</span>
                                            <h1 class="text-white text-shadow fadeInUp mb-2-4">Transform Your Moves and Confidence</h1>
                                            <a href="/courses" class="btn-style1 fadeInUp">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bg-img cover-background left-overlay-dark" data-overlay-dark="75" data-background="other/img/banner/banner-2.png">
                    <div class="container h-100">
                        <div class="d-table w-100 h-100">
                            <div class="d-table-cell align-middle">
                                <div class="row position-relative">
                                    <div class="col-md-10 col-lg-9 col-xl-8 z-index-3 position-relative">
                                        <div class="banner-style01 pt-13 pt-sm-0 pb-7 pb-sm-0">
                                            <span class="sec-title3 display-29 display-lg-28 text-primary text-shadow">Own the Floor</span>
                                            <h1 class="text-white text-shadow fadeInUp mb-2-4">Unleash Your Rhythm, Express Yourself</h1>
                                            <a href="/courses" class="btn-style1 fadeInUp">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="item bg-img cover-background left-overlay-dark" data-overlay-dark="75" data-background="other/img/banner/banner-3.png">       
                    <div class="container h-100">
                        <div class="d-table w-100 h-100">
                            <div class="d-table-cell align-middle">
                                <div class="row position-relative">
                                    <div class="col-md-10 col-lg-9 col-xl-8 z-index-3 position-relative">
                                        <div class="banner-style01 pt-13 pt-sm-0 pb-7 pb-sm-0">
                                            <span class="sec-title3 display-29 display-lg-28 text-primary text-shadow">Elevate Your Energy</span>
                                            <h1 class="text-white text-shadow fadeInUp mb-2-4">Begin Your Hip-Hop Journey Today</h1>
                                            <a href="/courses" class="btn-style1 fadeInUp">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
        ================================================== -->
        <section class="p-0 process-style2 mt-2-2">
            <div class="container-fluid px-sm-6 px-md-10">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="row h-100 mt-n1-9">
                            <div class="col-md-6 mt-1-9">
                                <div class="process-box bg-secondary">
                                    <div class="process-nomber">
                                        <h2 class="text-white">01</h2>
                                    </div>
                                    <div class="mb-2-9">
                                        <img class="icon-process-resized" src="other/img/icon/icon-1.png" alt="icon 1">
                                    </div>
                                    <div class="process-hover">
                                        <h3 class="mb-1-9 h1 w-md-80 text-white h4">Stay Injury-Free</h3>
                                        <p class="mb-0 text-white w-120">Our mission is to help you master hip-hop moves with proper technique.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-1-9">
                                <div class="process-box bg-primary">
                                    <div class="process-nomber primary">
                                        <h2 class="text-white">02</h2>
                                    </div>
                                    <div class="mb-2-9">
                                        <img class="icon-process-resized" src="other/img/icon/icon-2.png" alt="icon 2">
                                    </div>
                                    <div class="process-hover">
                                        <h3 class="mb-1-9 h1 w-md-80 w-lg-70 text-white h4">Burn Calories</h3>
                                        <p class="mb-0 text-white w-120">Groove your way to better health while building stamina and rhythm.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="process-img-box border-radius-10 bg-img position-relative h-100 cover-background" data-overlay-dark="5" data-background="other/img/content/process-1.png">
                            <div class="process-nomber primary">
                                <h2 class="text-white">03</h2>
                            </div>
                            <div class="process-img process-img-hover">
                                <h2 class="text-white mb-1-9 w-60">Enhance Your Flow</h2>
                                <p class="text-white w-60">Improve flexibility and body control to hit every beat and make your dance style stand out.</p>
                                <u><a href="/courses" class="text-white white-underline text-secondary-hover">Enrol in a course</a></u>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT US
        ================================================== -->
        <section class="about-1"> 
            <div class="container">
                <div>
                    <span class="sec-title3 text-secondary">About Us</span>
                    <h2 class="display-5 font-weight-700 mb-1-9 z-index-2 position-relative w-lg-70 w-xl-60 w-xxl-50">Bring the Freshest Change in Your Life Through Hip-Hop Dance</h2>
                </div>
                <div class="row align-items-center mt-n1-9">
                    <div class="col-xl-6 mt-1-9">
                        <div>
                            <img src="other/img/content/about-1.png" class="border-radius-10" alt="about image 1">
                        </div>
                    </div>
                    <div class="col-xl-6 mt-1-9">
                        <div>
                            <div class="d-flex align-items-center mb-2 mb-xl-1-6">
                                <div class="display-4 text-secondary me-2">O</div>
                                <p class="mb-0">ur studio boosts your energy by providing top-tier dance floors, expert choreographers, creative classes, and a supportive team.</p>
                            </div>
                            <p>Hip-hop dance is a high-energy workout built on foundational moves, seamlessly connected by freestyle flows, all set to the latest beats and wrapped up with dynamic routines.</p>
                            <ul class="about-list list-unstyled mb-2-9">
                                <li class="position-relative mb-2">10+ Hip-Hop Styles</li>
                                <li class="position-relative mb-2">Professional Instructors</li>
                                <li class="position-relative">All Our Classes Well Planned</li>
                            </ul>
                            <div class="row align-items-center about-box mt-n1-9">
                                <div class="col-sm-6 col-md-4 mt-1-9">
                                    <div class="box1">
                                        <span class="text-white">Expert Trainer</span>
                                        <h1 class="text-white display-7 font-weight-700 mb-0">270+</h1>
                                        <p class="text-white mb-0">Choose what you like.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 mt-1-9">
                                    <div class="box2">
                                        <span class="text-white">Total Branch</span>
                                        <h1 class="text-white display-7 font-weight-700 mb-0">23+</h1>
                                        <p class="text-white mb-0">Available in countries.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 mt-1-9">
                                    <div>
                                        <img src="other/img/content/about-2" class="border-radius-10" alt="about image 2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- OUR SERVICES
        ================================================== -->
        <section class="bg-light ">
            <div class="container">
                <div class="text-center">
                    <span class="sec-title3 text-secondary">Our Services</span>
                    <h2 class="display-5 font-weight-700 mb-1-9 z-index-2 position-relative w-lg-70 w-xl-50 mx-lg-auto">Outstanding Moves: Elevate Your Life Through Hip-Hop</h2>
                </div>
                <div class="row clearfix mt-n1-9">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-1-9">
                        <div class="card card-style1 wow fadeInUp h-100" data-wow-delay="100ms">
                            <div class="image-box">
                                <a href="course"><img src="other/img/content/course.png" alt="course"></a>
                            </div>
                            <div class="lower-content text-center">
                                <div class="icon">
                                    <img src="other/img/icon/icon-3.png" class="w-55px icon-services-resized" alt="icon 3">
                                </div>
                                <h3><a href="courses">Courses</a></h3>
                                <p class="dark-text">You can experience the best level of customer service with us. It utilizes breathing methods.</p>
                                <h5 class="h6 mb-0"><u><a href="courses">Read more</a></u></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-1-9">
                        <div class="card-style1 wow fadeInUp h-100" data-wow-delay="200ms">
                            <div class="image-box">
                                <a href="courses/class?classId=topRock"><img src="other/img/content/class.png" alt="class image"></a>
                            </div>
                            <div class="lower-content text-center">
                               <div class="icon">
                                    <img src="other/img/icon/icon-4.png" class="w-55px icon-services-resized" alt="icon 4">
                                </div>
                               <h3><a href="services/details">Classes</a></h3>
                               <p class="dark-text">You can experience the best level of customer service with us. It utilizes breathing methods.</p>
                               <h5 class="h6 mb-0"><u><a href="services/details">Read more</a></u></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-1-9">
                        <div class="card-style1 wow fadeInUp h-100" data-wow-delay="300ms">
                            <div class="image-box">
                                <a href="services/details"><img src="other/img/content/class.png" alt="class image"></a>
                            </div>
                            <div class="lower-content text-center">
                               <div class="icon">
                                    <img src="other/img/icon/icon-5.png" class="w-55px icon-services-resized" alt="icon 5">
                                </div>
                               <h3><a href="services/details">Private Classes</a></h3>
                               <p class="dark-text">You can experience the best level of customer service with us. It utilizes breathing methods.</p>
                               <h5 class="h6 mb-0"><u><a href="services/details">Read more</a></u></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- COUNTER
        ================================================== -->
        <section class="bg-dark position-relative">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="counter-style-01">
                            <div class="counter-icon text-primary">
                                <img src="other/img/icon/icon-6.png" class="w-65px icon-counter-resized" alt="icon 6">
                            </div>
                            <h2 class="text-primary display-10 display-md-9 display-xl-8"><span class="countup">50</span>+</h2>
                            <p class="text-white font-weight-700 display-28 mb-0">Dance Trainers</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="counter-style-01">
                            <div class="counter-icon text-primary">
                                <img src="other/img/icon/icon-7.png" class="w-65px icon-counter-resized" alt="icon 7">
                            </div>
                            <h2 class="text-primary display-10 display-md-9 display-xl-8"><span class="countup">980</span>+</h2>
                            <p class="text-white font-weight-700 display-28 mb-0">Happy Customers</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="counter-style-01">
                            <div class="counter-icon text-primary">
                                <img src="other/img/icon/icon-8.png" class="w-65px icon-counter-resized" alt="icon 8">
                            </div>
                            <h2 class="text-primary display-10 display-md-9 display-xl-8"><span class="countup">90</span>+</h2>
                            <p class="text-white font-weight-700 display-28 mb-0">Branches</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <div class="counter-style-01">
                            <div class="counter-icon text-primary">
                                <img src="other/img/icon/icon-9.png" class="w-65px icon-counter-resized" alt="icon 9">
                            </div>
                            <h2 class="text-primary display-10 display-md-9 display-xl-8"><span class="countup">42</span>+</h2>
                            <p class="text-white font-weight-700 display-28 mb-0">Weekly Classes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-n70 opacity4 left-n20 d-none d-xl-block">   
            </div>
            <div class="position-absolute top-n70 opacity4 right-n20 d-none d-xl-block">   
            </div>
        </section>

        <!-- WHY CHOOSE US
        ================================================== -->
        <section class="p-0 bg-light">
            <div class="container-fluid px-0">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="bg-img h-100 cover-background" data-overlay-dark="0" data-background="other/img/content/why-choose01.png"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-sm-1-9 p-xl-6 why-choose-02">
                            <div class="d-flex why-choose xl-align-items-center mb-2-9 wow fadeInUp" data-wow-delay="100ms">
                                <div class="icon-box-icon">
                                    <div class="icon-inner">
                                        <div class="icon-wrap -img">
                                            <img src="other/img/icon/icon-10.png" class="icon-offer-resized" alt="icon 10">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="mt-2 h4">Top-Tier Choreographers</h3>
                                    <p class="mb-0 w-sm-80">Learn from industry pros with real-world hip-hop experience.</p>
                                </div>
                            </div>
                            <div class="d-flex why-choose xl-align-items-center mb-2-9 wow fadeInUp" data-wow-delay="200ms">
                                <div class="icon-box-icon">
                                    <div class="icon-inner">
                                        <div class="icon-wrap -img">
                                            <img src="other/img/icon/icon-11.png" class="icon-offer-resized" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="mt-2 h4">Street-to-Stage Technique</h3>
                                    <p class="mb-0 w-sm-80">Master freestyle foundations and performance-ready moves</p>
                                </div>
                            </div>
                            <div class="d-flex why-choose xl-align-items-center mb-2-9 wow fadeInUp" data-wow-delay="300ms">
                                <div class="icon-box-icon">
                                    <div class="icon-inner">
                                        <div class="icon-wrap -img">
                                            <img src="other/img/icon/icon-12.png" class="icon-offer-resized" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="mt-2 h4">Custom Routines & Training</h3>
                                    <p class="mb-0 w-sm-80">Get personalized choreography and guidance for your unique style.</p>
                                </div>
                            </div>
                            <div class="d-flex why-choose align-items-xl-center wow fadeInUp" data-wow-delay="400ms">
                                <div class="icon-box-icon">
                                    <div class="icon-inner">
                                        <div class="icon-wrap -img">
                                            <img src="other/img/icon/icon-13.png" class="icon-offer-resized" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="mt-2 h4">Crew Community Vibes</h3>
                                    <p class="mb-0 w-sm-80">Join a supportive, high-energy dance family that lifts you up.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL
        ================================================== -->
        <section class="parallax bg-img cover-background" data-overlay-dark="5" data-background="other/img/content/testimonial.png">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="testimonial-carousel1 owl-carousel owl-theme owl-loaded owl-drag" data-slider-id="1">
                            <div>
                                <div class="text-center mb-3 text-secondary">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <p class="mb-1-9 display-28 display-md-26 display-lg-24 text-white opacity8">“My coordination and confidence have skyrocketed since joining these hip-hop classes. I’m finally hitting moves I’ve been practicing for ages!”</p>
                                <h4 class="mb-0 text-secondary">Jessoca O'Shanassy</h4>
                                <span class="small text-white">Satisfied Student</span>
                            </div>

                            <div>
                                <div class="text-center mb-3 text-secondary">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <p class="mb-1-9 display-28 display-md-26 display-lg-24 text-white opacity8">“I highly recommend these classes. They’ve brought so much energy into my life and I’m more confident than ever on the dance floor!”</p>
                                <h4 class="mb-0 text-secondary">Alexandr Musálek</h4>
                                <span class="small text-white">Satisfied Student</span>
                            </div>

                            <div>
                                <div class="text-center mb-3 text-secondary">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <p class="mb-1-9 display-28 display-md-26 display-lg-24 text-white opacity8">“I’ve been dancing here for over a year and absolutely love it! The routines are fresh, the teachers are top-notch, and the crew vibe is unbeatable.”</p>
                                <h4 class="mb-0 text-secondary">Karoliina Selin</h4>
                                <span class="small text-white">Satisfied Student</span>
                            </div>
                        </div>
                        <div class="testimonials1 owl-thumbs mt-1-9 mt-lg-5 text-center" data-slider-id="1">
                            <button class="owl-thumb-item rounded-circle me-2">
                                <img src="other/img/avatars/avatar-f.png" class="rounded-circle avatar-resized" alt="...">
                            </button>
                            <button class="owl-thumb-item rounded-circle me-2">
                                <img src="other/img/avatars/avatar-m.png" class="rounded-circle avatar-resized" alt="...">
                            </button>
                            <button class="owl-thumb-item rounded-circle me-2">
                                <img src="other/img/avatars/avatar-f.png" class="rounded-circle avatar-resized" alt="...">
                            </button>
                        </div>     
                    </div>             
                </div>           
            </div>
        </section>

        <!-- CONTACT US
        ================================================== -->
        <section class="bg-light position-relative">
            <div class="container">
                <div class="row align-items-center mt-n1-9">
                    <div class="col-lg-6 mt-1-9 wow fadeIn" data-wow-delay="100ms">
                        <div class="pe-5">
                            <div>
                                <span class="sec-title3 text-secondary">GET BOOKED</span>
                                <h2 class="h1 font-weight-700 mb-1-9 z-index-2 position-relative">Enroll or Book a Class</h2>
                            </div>
                            <p class="display-27 ">Ready to step up your dance game? Whether you want to enroll in a full hip-hop course or just drop in for a single session, 
                                we’ve got you covered. Checkout our courses by clicking <u><a href="/courses">here</a></u>.</p>
                            <div class="border-bottom pb-1-9 mb-1-9">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="flex-shrink-0">
                                        <div class="me-3">
                                            <i class="fa-solid fa-phone-flip display-28"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 display-28">(+44) 123 456 789</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="me-3">
                                            <i class="fa-solid fa-envelope display-28"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 display-28">info@example.com</p>
                                    </div>
                                </div>
                            </div>
                            <p class="text-primary display-26 font-weight-700">Mon – Fri : 12.00 – 20:00 / Sat – Sun : 09:00 – 15:00</p>
                            <address class="mb-0 display-md-29 display-xl-28">Wellington Church — <br> 77 Southpark Ave,<br>Glasgow, United Kingdom.</address>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="contact-from rounded">
                            <span class="sec-title3 text-secondary">Contact us</span>
                            <h2 class="h1 font-weight-700 mb-1-9 z-index-2 position-relative">Get In Touch</h2>
                            <form class="contact quform" action="other/quform/contact.php" method="post" enctype="multipart/form-data" onclick="">
                                <div class="quform-elements">
                                    <div class="row">

                                        <!-- Begin Text input element -->
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="name">Your Name <span class="quform-required">*</span></label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="name" type="text" name="name" placeholder="Your name here" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Text input element -->
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="email">Your Email <span class="quform-required">*</span></label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="email" type="text" name="email" placeholder="Your email here" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Text input element -->
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="subject">Your Subject <span class="quform-required">*</span></label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="subject" type="text" name="subject" placeholder="Your subject here" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Text input element -->
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="phone">Contact Number</label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="phone" type="text" name="phone" placeholder="Your phone here" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Textarea element -->
                                        <div class="col-md-12">
                                            <div class="quform-element form-group">
                                                <label for="message">Message <span class="quform-required">*</span></label>
                                                <div class="quform-input">
                                                    <textarea class="form-control" id="message" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Textarea element -->

                                        <!-- Begin Captcha element -->
                                        <div class="col-md-12">
                                            <div class="quform-element">
                                                <div class="form-group">
                                                    <div class="quform-input">
                                                        <input class="form-control" id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="quform-captcha">
                                                        <div class="quform-captcha-inner">
                                                            <img src="other/quform/images/captcha/courier-new-light.png" alt="...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Captcha element -->

                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn-style1 primary" type="submit">Send Message</button>
                                            </div>
                                            <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-n25 left-n10 d-none d-lg-block">
                <img src="other/img/content/flower01.png" class="opacity2" alt="...">
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        {{> partials/footer}}

        <!-- cursor helper -->
        <div class="cursor-helper">
            <div class="cursor-helper-outer"></div>
            <div class="cursor-helper-inner"></div>
        </div>

    </div>

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    {{> partials/tail}}
    
    <!-- all js include end -->

</body>