<nav class="nav flex-column">
  <a class="nav-link" href="/adminDashboard/enrolled">Enrolled</a>
  <a class="nav-link" href="/admin/courses">Attended</a>
  <a class="nav-link" href="/admin/courses">Courses</a>
  <a class="nav-link" href="/admin/classes">Classes</a>
  <a class="nav-link" href="/admin/users">Users</a>
</nav>