<header class="header-style1 menu_area-light">
    <div class="navbar-default">

        <!-- start top search -->
        <div class="top-search bg-secondary">
            <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                <form class="search-form" action="search/search.html" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- end top search -->

        <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="navbar-header navbar-header-custom">
                                <!-- start logo -->
                                <a href="/" class="navbar-brand"><img id="logo" src="/other/img/logos/logo-inner.png" alt="logo"></a>
                                <!-- end logo -->
                            </div>

                            <div class="navbar-toggler"></div>

                            <!-- start menu area -->
                            <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                {{! <li>
                                    <a href="#!">More</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services/details">Our Services</a></li>
                                        <li><a href="faq.html">FAQ's</a></li>
                                        <li><a href="team.html">Our Team</a>
                                            <ul>
                                                <li><a href="team-details.html">Team Details</a></li>   
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </li> }}
                                <li>
                                    <a href="/courses">Courses</a>
                                </li>
                                {{#user}} 
                                <form method="get" action="/{{user.role}}Dashboard/main" role="form" class="ml-8">
                                    <li>
                                        <button 
                                        type="submit" 
                                        class="btn-nav wow fadeIn w-100"
                                        data-wow-delay="100ms"
                                        >Dashboard</button>
                                    </li>
                                 </form>
                                {{/user}}    
                            </ul>
                            <!-- end menu area -->

                            <!-- start attribute navigation -->
                            <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                <ul>
                                    {{^user}}
                                    <li class="d-none d-xl-inline-block"><a id="login" href="/login" class="btn-style1 primary medium text-white">Login</a></li>
                                    <li class="d-none d-xl-inline-block"><a id="register" href="/register" class="btn-style1 primary medium text-white">Register</a></li>
                                    {{/user}}
                                    {{#user}}
                                    <li class="d-none d-xl-inline-block"><a id="logout" href="/logout" class="btn-style1 primary medium text-white">Logout</a></li>
                                    {{/user}}
                                </ul>
                            </div>
                            <!-- end attribute navigation -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>