<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.querySelectorAll('.btn-remove').forEach(button => {
    button.addEventListener('click', function() {
    // Obtain a reference to the form that needs to be submitted
    const email = this.getAttribute('data-email');
    const form = document.getElementById('removeForm-' + email);
    
    // Display the confirmation pop-up
    Swal.fire({
        title: 'Are you sure?',
        text: "This will remove the student from the course.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        cancelButtonText: 'Cancel'
    }).then((result) => {
        if (result.isConfirmed) {
        form.submit();
        }
    });
    });
});
</script>