 <!-- jQuery -->
    <script src="/other/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/other/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/other/js/bootstrap.min.js"></script>

    <!-- search -->
    <script src="/other/search/search.js"></script>

    <!-- navigation -->
    <script src="/other/js/nav-menu.js"></script>

    <!-- owl carousel -->
    <script src="/other/js/owl.carousel.js"></script>

    <!-- owl carousel -->
    <script src="/other/js/owl.carousel.thumbs.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/other/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="/other/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="/other/js/waypoints.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/other/js/jquery.magnific-popup.min.js"></script>

    <!-- lightgallery js -->
    <script src="/other/js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="/other/js/jquery.mousewheel.min.js"></script>

    <!-- jarallax.min -->
    <script src="/other/js/jarallax.min.js"></script>

    <!-- jarallax-video -->
    <script src="/other/js/jarallax-video.js"></script>

    <!-- wow js -->
    <script src="/other/js/wow.js"></script>

    <!--  clipboard js -->
    <script src="/other/js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="/other/js/prism.js"></script>

    <!-- custom scripts -->
    <script src="/other/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/other/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/other/quform/js/scripts.js"></script>