/*-----------------------------------------------------------------------------------

    Author: Kieran Burns

-----------------------------------------------------------------------------------*/

.dark-text {
    color:black;
}

.pd-top {
    padding-top: 30%;
}

.text-light-grey-2 {
    color: #909090;
}

.btn-as-inherited {
    background: none;    /* Remove background */
    border: none;        /* Remove border */
    padding: 0;          /* Remove extra padding */
    font: inherit;       /* Inherit font settings from the previous tag */
    color: inherit;      /* Inherit text color */
    cursor: pointer;     /* Show pointer on hover */
}

.btn-as-inherited:hover {
    color: #1C1C1C;      /* Change text color on hover */
}

.text-hover:hover {
    color: #1C1C1C;      /* Change text color on hover */
}

.form-top-position {
    margin-top: -200px;
}

.account-section-text-align {
    text-align: center;
}

.account-div-styling {
    display: inline-block;
    text-align: left;
}

.btn-nav {
  /* match other nav properties */
  background: none;
  border: none;
  padding: 21px 0.3rem;
  margin: 0;
  box-sizing: border-box;
  
  position: relative;
  display: block;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  transition-duration: 500ms;


  font-size: 15px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;

}

.ml-8{
    margin-left: 8px;
}
